@import "base/variables";
@import "base/mixins";
* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5fdff;
}
a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
.btn {
    padding: 10px 20px;
    display: block;
    width: 260px;
    height: 40px;
    font-size: 15px;
    // line-height: 40px;
    color: rgb(0, 0, 0);
    background-color: #91d765;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(46, 143, 37);
}

@import "src/sass/block/title.scss";
@import "src/sass/block/promo.scss";
@import "src/sass/block/menu.scss";
@import "src/sass/block/third.scss";
@import "src/sass/block/contactForm.scss";
@import "src/sass/block/footer.scss";
@import "src/sass/block/second.scss";
@import "src/sass/block/houseform.scss";
@import "src/sass/block/info.scss";
@import "src/sass/block/income.scss";
@import "src/sass/block/news.scss";
@import "src/sass/block/mainSlider.scss";

@import "src/sass/block/media.scss";
