.about {
    background: url("images/bg/men2.jpeg") 50% / cover no-repeat;
    margin-top: 120px;
    height: 1050px;
    &__wrapper {
        // color: white;
        padding-top: 100px;
        padding-left: 100px;
        width: 800px;
        height: 700px;
    }
    &__title {
        font-size: 35px;
        line-height: 30px;
    }
    &__subtitle {
        margin-top: 50px;
        font-size: 20px;
    }
}
