.second {
    padding: 20px 60px;
    position: relative;
    &__wrap {
        display: flex;
        padding: 20px 20px;
    }
    &_we {
        display: flex;
        width: 50%;
    }
    &__title-wrap {
        padding: 5px 20px;
    }
    &__img-house {
        position: absolute;
        top: 275px;
        // left: 310px;
        max-width: 700px;
        z-index: 1;
        img {
            max-width: 100%;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        height: 600px;
        width: 50%;
        justify-content: flex-end;
    }

    &__block-card {
        padding: 10px 10px;
        margin-top: 1px;
        margin-right: 1px;
        display: block;
        max-width: 300px;
        height: 200px;
        background-color: #fff;
    }
    &__block-card:nth-child(2) {
        color: white;
        background: #27242d;
    }
    &__block-card:nth-child(3) {
        background-color: #cce2f0;
    }
    &__block-card:nth-child(5) {
        color: white;
        background-color: #90da51;
    }

    &__title {
        &_fz20 {
        }

        &_fz16 {
        }
    }
}
