.slider {
    margin: 100px;
    position: relative;
    &__wrap {
        display: block;
        max-width: 400px;
        max-width: 600px;
        max-height: 250px;
        margin: 50px auto;
        position: relative;
    }
    &__wrap::before {
        display: block;
        position: absolute;
        left: -110px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 65px;
        height: 65px;
        background: url(icons/slider/left.svg);
    }
    &__wrap::after {
        display: block;
        position: absolute;
        right: -110px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 65px;
        height: 65px;
        background: url(icons/slider/right.svg);
    }

    &__title {
        text-align: center;
    }
    &__card {
        width: 100%;
        height: 100%;
        background-color: rgb(102, 102, 102);
        border-radius: 20px;
        padding: 20px 20px;
        display: flex;
    }
    &__wrap2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        scale: 0.9;
        left: -380px;
        opacity: 0.3;
    }
    &__wrap3 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        scale: 0.9;
        right: -380px;
        opacity: 0.3;
    }

    &__card-left {
        width: 200px;
    }

    &__avatar {
        display: block;
        padding: 30px 30px;
        height: 100px;
        width: 100px;
        border-radius: 30px;
        img {
            width: 100px;
            height: 100px;
            border-radius: 30px;
            object-fit: cover;
        }
    }
    &__card-right {
        max-width: 400px;
    }

    &__title-up {
        margin-top: 15px;
        color: white;
        font-weight: 500;
        font-size: 20px;
    }

    &__text {
        margin-top: 20px;
        color: white;
        font-weight: 300;
    }
}
.container {
}
